.idea
clip_checkpoints/*
dino_features/*
clip_checkpoints/*
results/*
result_clustering/*
images/*
node_visualizer/node_modules/*
playground/models/*
vll-cluster-setup/*
selfattn/*
results_dino2/*
results_eval/*
eval_results/*
eval_0shot/*
eval/*
debug/*
clip_save_selfattn/*
playground/tmp/*
userstudy/*
clip_s/